html.win98 {
    --main: #849211;
    --mainLight: #c0c0c0;
    --second: #000000;
    --background: #c0c0c0;
    --backgroundMain: #008081;
    --textColor: #000;
    --textSecondColor: #fff;
    --menuColor: #eee;


    .card {
        border-top: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #000000;
        box-shadow: 1px 1px 0 #dfdfdf inset, -1px -1px 0 #808080 inset;
    }

    .button, button:not(.browsersDefault) {
        border-top: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #000000;
        box-shadow: 1px 1px 0 #dfdfdf inset, -1px -1px 0 #808080 inset;
        transition: none;
        cursor: default;

        &::before {
            display: none;
        }

        &:hover, &:focus {
            color: inherit;
        }

        &:focus {
            border: 1px solid black;
            box-shadow: 1px 1px 0 #ffffff inset, -1px -1px 0 #000000 inset, 2px 2px 0 #dfdfdf inset, -2px -2px 0 #808080 inset;
            outline: 1px dotted;
            outline-offset: -5px;
        }

        &:active {
            transform: none;
            border-top: 1px solid #000000;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #ffffff;
            border-right: 1px solid #ffffff;
            box-shadow: 1px 1px 0 #808080 inset, -1px -1px 0 #dfdfdf inset;
        }
    }

    section.card > header {
        background: var(--main);
        padding: 2px;
        margin: -8px -8px 10px -8px;
        color: #fff;
        font-size: 1em;

        h1 {
            margin: 0;
            font-size: 1em;
        }
    }

    .loginInfo {
        color: #fff;
    }

    body > aside {
        border-top: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #000000;
        box-shadow: 1px 1px 0 #dfdfdf inset, -1px -1px 0 #808080 inset;

        nav ul {
            margin: 2px;

            li {
                a, span {
                    cursor: default;
                    color:#000;
                }
                a {
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    table {
        border-collapse: separate;
        border-spacing: 0;
        border-top: 1px solid #808080;
        border-left: 1px solid #808080;
        border-bottom: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        box-shadow: 1px 1px 0 #000000 inset, -1px -1px 0 #dfdfdf inset;
        padding: 1px;

        thead th {
            @extend .button;
            background: var(--background);
            display: table-cell;
            margin: 0;
            color: #000;
            position: sticky;
        }

        tbody td {
            background: #ffffff;
        }

        .pagination button {
            margin: 0;
        }
    }
    body > .mainContent > .topBar{
        backdrop-filter: none;
        background: var(--background);
    }
    .contextMenu{
        border-top: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-bottom: 1px solid #000000;
        border-right: 1px solid #000000;
        box-shadow: 1px 1px 0 #dfdfdf inset, -1px -1px 0 #808080 inset;
        background: var(--background);
        li{
            cursor: default;
            &:hover{
                background: var(--main);
                color:#fff;

            }
        }

    }
    .input, input:not(.browsersDefault), textarea:not(.browsersDefault), select:not(.browsersDefault){
        background: white;
        border-top: 1px solid #808080;
        border-left: 1px solid #808080;
        border-bottom: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        box-shadow: 1px 1px 0 #000000 inset, -1px -1px 0 #dfdfdf inset;
    }
}