.contextMenu {
    position: fixed;
    z-index: 1000;
    margin: 0;
    padding: 0;
    max-width: 100vh;
    min-width: 200px;
    user-select: none;
    background: var(--background);

    li {
        display: flex;
        cursor: pointer;
        margin: 0;
        white-space: nowrap;
        align-items: center;

        .icon {
            display: inline-block;
            flex:0 0 50px;
            text-align: center;
            font-size: 1.2em;
            line-height: 1em;
            vertical-align: middle;
        }

        .iconPlaceholder {
            display: inline-block;
            width: 50px;
        }

        .content {
            flex:1 1 auto;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 15px 10px;
            line-height: 1em;
            vertical-align: middle;
        }
    }
}