form {
    label, .label {
        display: grid;
        grid-template-columns: 250px 1fr;
        margin-bottom: 10px;
        align-items: baseline;

        span {
            display: table-cell;
            width: 250px;
            line-height: 35px;
        }

        input, select, textarea {
            display: table-cell;
            width: 100%;
        }

        .subgroup {
            grid-row: 2;
            grid-column: 1/3;
            margin-left: 30px;
        }

        simple-value-edit {
            display: flex;
        }

    }

    .label {
        &:hover {
            > span {
                text-decoration: underline;
            }
        }
    }

    .subgroup > * {
        position: relative;

        &::before {
            content: '';
            display: block;
            border-bottom: 1px solid;
            position: absolute;
            left: -35px;
            top: 17px;
            width: 30px;
        }

        &::after {
            content: '';
            display: block;
            border-left: 1px solid;
            position: absolute;
            left: -35px;
            top: -18px;
            bottom: 0;
        }

        &:first-child {
            &::after {
                //  top: 0.6em;
                // bottom: 0;
            }

        }

        &:last-child {
            &::after {
                // top: 0;
                height: 35px;
            }

        }
    }
}

.input {
    display: inline-block;
}

input:not(.browsersDefault), textarea:not(.browsersDefault), select:not(.browsersDefault) {
    @extend .input
}

textarea:not(.browsersDefault) {
    resize: vertical;
}

.checkbox {
    display: inline-block;
}

input[type="checkbox"]:not(.dummy) {
    @extend .checkbox
}

input[type="radio"] {
    @extend .radiobutton
}
