.button, button:not(.browsersDefault) {
    display: inline-block;
    padding: 5px 8px;
    background: var(--mainLight);
    color: var(--second);
    border: 2px solid var(--second);
    transition: all 200ms;
    position: relative;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    vertical-align: middle;
    line-height: 1;

    &::before {
        content: '';
        display: block;
        width: 200%;
        height: 200%;
        background: var(--second);
        position: absolute;
        left: 72%;
        top: 72%;
        transition: all 200ms;
        border-radius: 100%;
        z-index: -1;
    }

    &:active {
        opacity:.8;
    }

    &:hover, &:focus {
        color: var(--mainLight);
        outline: none;

        &::before {
            left: 0;
            top: 0;
            border-radius: 0;
        }
    }
}