.pageSimulator {
    label {
        display: inline-block;

        > * {
            display: inline;
        }
    }

    .pageSimulator-iframeWrapper {
        overflow: hidden;
        min-height: 200px;
        padding: 10px;

        position: sticky;
        top: 74px;

        > div {
            border: 2px solid black;
        }

        iframe {
            border: none;
            transform-origin: 0% 0%;
            display: block;
            background: white;
        }
    }
}
