.tasks {
    @extend .top-expandable;

    > .tasksList {
        @extend .list;

        > .task {
            border-bottom: 1px solid;
            text-align: center;
            padding: 5px;

            &[data-status="error"] {
                background: rgba(#ff0000, .5);
            }

            .status {
                font-size: 1.2em;
                //font-weight: 700;
            }

            .buttons {
                display: flex;

                .button {
                    flex: 1 1 auto;
                    margin: 0 5px;
                }
            }
        }
    }


}

.notifications {
    @extend .top-expandable;

    .notificationsList {
        @extend .list;

        > .notification {
            border-bottom: 1px solid;
            text-align: center;
            padding: 5px;
        }
    }
}
.loginInfo {
     @extend .top-expandable;

     > .loginInfo-expandable {
         @extend .list;
     }
 }

.top-expandable {
    display: inline-block;

    > .list {

        display: none;
        position: absolute;
        width: 200px;
        height: 300px;
        overflow: scroll;
        border: 1px solid;
        backdrop-filter: var(--standardBackdropFilter);
        margin-left: -158px;
    }

    &:hover, &:focus-within, &.open {
        > .list {
            display: block;
        }
    }
}


.installPWA {
    font-size: 1em;
    margin-right: 5px;
}